extends layout

app = "test-ng"

block head
  script(src='/javascripts/play.js')

block content
    .row.full-height(ng-controller='GameController')
      #left-col.col.m2
        p
        div(ng-repeat='gamedata in games')
          game
      .col.m2
        p
        div(ng-repeat='game in gameChoices')
          button.game-header.btn(ng-click="setGame($index)") Game {{$index +1}}

      .col.m8.full-height
        #player
