doctype html
html(ng-app='spoiler')
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower/materialize/dist/js/materialize.min.js')
    link(rel='stylesheet', href='/bower/materialize/dist/css/materialize.css')

    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='/bower/angular/angular.min.js')
    script(src='/javascripts/app.js')

    block head

  body.grey.darken-3
    block content
