extends layout

block content

  h2.
    Welcome to Voddit
  p.
    You can use Voddit to keep up to date with spoiler free vods

  span.
    To open a VOD listing go to the #[a(href='http://www.loleventvods.reddit.com') LoLEventVods Subreddit]
    and select a series of Vods by copying the URL (excluding the http://).
    Then go to www.voddit.xyz/watch/&lt;LoLEventVodsURLHere&gt;.
